<mat-form-field class="main-container">
    <mat-chip-list #chipList>
        <mat-chip *ngFor="let value of values" (removed)="remove(value)">
            {{value}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Type a Programming Language" autocomplete="off" #languageInput [(ngModel)]="value"
            [matChipInputFor]="chipList" matInput [formControl]="formControl" [matChipInputSeparatorKeyCodes]="seperator" (keyup)="onKeyup($event)" [matAutocomplete]="auto">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (optionSelected)="selected($event)">
          {{option}}
        </mat-option>
      </mat-autocomplete>
</mat-form-field>